<template>
  <div class="container">
    <div :class="classConfirm()">
      <BaseTitle :center="true">Подтверждение заказа</BaseTitle>
      <div :class="classConfirm('table-wrapper')">
        <OrderTable />
      </div>
      <div :class="classConfirm('total')">
        Сумма к оплате: {{ totalPrice }} р.
      </div>
      <BaseButton to="managers" size="sm" :class="classConfirm('button')"
        >Подтвердить заказ</BaseButton
      >
    </div>
  </div>
</template>

<script>
import { cn } from '../utils/cn';
import BaseButton from '../components/base/BaseButton.vue';
import OrderTable from '../components/OrderTable.vue';
import BaseTitle from '../components/base/BaseTitle.vue';
import { useStore } from '../stores/state.js';

const store = useStore();

const classConfirm = cn('confirm');
export default {
  name: 'ConfirmPage',
  components: { BaseTitle, OrderTable, BaseButton },
  computed: {
    totalPrice() {
      return store.totalPrice;
    },
  },
  methods: {
    classConfirm,
  },
};
</script>

<style lang="scss">
.confirm {
  padding-top: 85px;

  &__table-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  &__total {
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
  }

  &__button {
    max-width: 250px;
    margin: 20px auto 0;
  }

  @media (max-width: 425px) {
    &__title {
      font-size: 30px;
    }

    &__table-wrapper {
      margin-top: 40px;
      font-size: 14px;
    }

    &__total {
      margin-top: 40px;
    }
  }
}
</style>
