<template>
  <div class="container">
    <div :class="classFertilizers()">
      <BaseButtonClose :class="classFertilizers('close')">x</BaseButtonClose>

      <div :class="classFertilizers('catalog')">
        <BaseTitle :upper="true">ВЫБЕРИТЕ УДОБРЕНИЕ</BaseTitle>
        <div :class="classFertilizers('pagination')">
          <LinkAncHor
            v-for="item in fertilizersByLetters"
            :key="item.fertilizerId"
            :href="'#' + item.fertilizerId"
            >{{ item.letter }}</LinkAncHor
          >
        </div>
        <div :class="classFertilizers('table-wrapper')">
          <table :class="classFertilizers('table')">
            <colgroup>
              <col width="5%" />
              <col width="40%" />
              <col width="15%" />
              <col width="40%" />
            </colgroup>
            <tbody>
              <tr
                v-for="(item, index) in fertilizers"
                :id="item.id"
                :key="item.id"
                :class="classFertilizers('table-row')"
              >
                <td :class="classFertilizers('table-column')">{{ ++index }}</td>
                <td :class="classFertilizers('table-column')">
                  {{ item.name }}
                </td>
                <td :class="classFertilizers('table-column')">
                  {{ item.volume }} {{ item.volume_suffix }}
                </td>
                <td :class="classFertilizers('table-column')">
                  <SelectQuantity
                    :toggle="index % 2 === 0"
                    @update:modelValue="changeQuantity(item.id, $event)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div :class="classFertilizers('cart')">
        <FertilizerBasket @select="removeFertilizer" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { cn } from '../utils/cn';
import LinkAncHor from '../components/LinkAnchor.vue';
import SelectQuantity from '../components/SelectQuantity.vue';
import FertilizerBasket from '../components/FertilizerBasket.vue';
import BaseTitle from '../components/base/BaseTitle.vue';
import BaseButtonClose from '../components/base/BaseButtonClose.vue';
import { useStore } from '../stores/state.js';

const store = useStore();

const classFertilizers = cn('fertilizers');
export default {
  name: 'FertilizersPage',
  components: {
    BaseButtonClose,
    BaseTitle,
    FertilizerBasket,
    SelectQuantity,
    LinkAncHor,
  },
  computed: {
    fertilizers() {
      return store.sortFertilizers;
    },
    fertilizersByLetters() {
      return store.fertilizersByLetters;
    },
  },
  mounted() {
    this.getFertilizers();
  },
  methods: {
    classFertilizers,
    async getFertilizers() {
      await axios.get(`${`${store.url}fertilizers`}`).then((res) => {
        const map = new Map();
        res.data.forEach((item) => map.set(item.id, item));
        const fertilizers = Object.fromEntries(map);
        store.$patch({ fertilizers });
      });
    },
    changeQuantity(id, value) {
      store.changeFertilizers(id, value);
      if (value === 0) {
        store.removeFertilizersList(id);
        return;
      }
      store.addFertilizersList(id);
    },
    removeFertilizer(id) {
      this.changeQuantity(id, 0);
    },
  },
};
</script>

<style lang="scss">
.fertilizers {
  position: relative;
  display: grid;
  grid-template-columns: 7fr 3fr;

  &__catalog {
    box-sizing: border-box;
    padding-top: 45px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 0;
  }

  &__pagination {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 16px;
    margin-top: 40px;
  }

  &__table-wrapper {
    max-height: 850px;
    margin-top: 25px;
    overflow-y: auto;
  }

  &__table {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    border: 0;
    border-spacing: 0;
  }

  &__table-row {
    &:nth-child(even) {
      background-color: #fff;
    }

    background-color: #f3f3f3;
  }

  &__table-column {
    padding: 14px 7px;

    &:first-child {
      padding-left: 14px;
      text-align: center;
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: minmax(0, 1fr);
  }

  @media (max-width: 768px) {
    &__pagination {
      flex-wrap: nowrap;
      padding-bottom: 15px;
      overflow-y: auto;
    }
  }
}
</style>
