<template>
  <div class="container">
    <div :class="className()">
      <div :class="className('title', { type: 'primary' })">
        <BaseTitle :center="true" :upper="true" size="lg"
          >добро пожаловать!</BaseTitle
        >
      </div>
      <h2 :class="className('title', { type: 'secondary' })">
        ВЫБЕРИТЕ РАЗДЕЛ
      </h2>
      <div :class="className('links')">
        <BaseButton type="primary" to="fertilizers">
          Каталог удобрений
        </BaseButton>
        <BaseButton type="secondary" to="plants">Подбор удобрений</BaseButton>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { cn } from '@/utils/cn.js';
import BaseButton from '../components/base/BaseButton.vue';
import BaseTitle from '../components/base/BaseTitle.vue';
import { useStore } from '@/stores/state';

const URL = 'https://laravel.kiosk.ecoplant-tech.ru/';
const className = cn('greetings');
export default {
  name: 'IndexPage',
  components: { BaseTitle, BaseButton },
  mounted() {
    this.fetchData();
  },
  setup() {
    return { store: useStore() };
  },
  methods: {
    className,
    async fetchData() {
      await axios.get(`${URL}plants`).then((res) => {
        const map = new Map();
        res.data.forEach((item) => map.set(item.id, item));
        const plants = Object.fromEntries(map);
        this.store.$patch({ plants });
      });
    },
  },
};
</script>

<style lang="scss">
.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__title {
    &_type {
      &_primary {
        position: relative;
        padding-bottom: 65px;

        &::before {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          width: 130px;
          height: 1px;
          margin: 0 auto;
          background-color: #e69b25;
          content: '';
        }
      }

      &_secondary {
        margin-top: 70px;
        font-weight: 400;
        font-size: 40px;
      }
    }
  }

  &__links {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    width: 700px;
    margin-top: 55px;
  }

  @media (max-width: 768px) {
    &__title {
      &_type {
        &_primary {
          padding-bottom: 20px;
        }

        &_secondary {
          margin-top: 34px;
          font-size: 26px;
        }
      }
    }

    &__links {
      width: 100%;
    }
  }

  @media (max-width: 425px) {
    &__title {
      &_type {
        &_primary {
          padding-bottom: 12px;
          font-size: 30px;
        }

        &_secondary {
          margin-top: 26px;
          font-size: 22px;
        }
      }
    }

    &__links {
      grid-gap: 20px;
      grid-template-columns: 1fr;
    }
  }
}
</style>
