<template>
  <div class="container">
    <div :class="classManagers()">
      <BaseTitle :class="classManagers('title')" size="sm" :center="true"
        >Выбор Менеджера</BaseTitle
      >
      <div :class="classManagers('items')">
        <SalesManager
          v-for="manager in managers"
          :key="manager.id"
          :manager="manager"
          @select="selectManager(manager.id)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { cn } from '../utils/cn';
import SalesManager from '../components/SalesManager.vue';
import BaseTitle from '../components/base/BaseTitle.vue';
import { useStore } from '../stores/state.js';

const store = useStore();
const classManagers = cn('managers');
export default {
  name: 'ManagersPage',
  components: { BaseTitle, SalesManager },
  computed: {
    managers() {
      return store.getStoreManagers;
    },
  },
  mounted() {
    this.getManagers();
  },
  methods: {
    classManagers,
    async getManagers() {
      await axios.get(`${`${store.url}managers`}`).then((res) => {
        store.managers = res.data;
      });
    },
    selectManager(id) {
      store.setCurrentManager(id);
    },
  },
};
</script>

<style lang="scss">
.managers {
  margin: 85px 0;

  &__items {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    margin-top: 40px;
  }

  @media (max-width: 768px) {
    &__title {
      margin: 40px 0 0;
      padding: 0;
      font-size: 26px;
    }

    &__items {
      margin-top: 20px;
    }
  }

  @media (max-width: 425px) {
    &__items {
      grid-gap: 20px;
    }
  }
}
</style>
