<template>
  <div class="container">
    <div :class="classOrders()">
      <YourManager>{{ yourManager.name }}</YourManager>
      <BaseTitle :class="classOrders('title')" :center="true"
        >Спасибо за сделанный заказ</BaseTitle
      >
      <div :class="classOrders('subtitle')">Ваш номер заказа 1-6324.</div>
      <div :class="classOrders('buttons')">
        <BaseButton size="sm">Напечатать чек</BaseButton>
        <BaseButton size="sm">Получить рекомендации</BaseButton>
        <BaseButton size="sm"> Отправить в 1с</BaseButton>
      </div>
      <div :class="classOrders('table-wrapper')">
        <OrderTable />
      </div>
      <div :class="classOrders('total')">
        Сумма к оплате: {{ totalPrice || 0 }} р.
      </div>
    </div>
  </div>
</template>

<script>
import { cn } from '../utils/cn';
import BaseTitle from '../components/base/BaseTitle.vue';
import YourManager from '../components/YourManager.vue';
import OrderTable from '../components/OrderTable.vue';
import BaseButton from '../components/base/BaseButton.vue';
import { useStore } from '../stores/state.js';

const store = useStore();
const classOrders = cn('orders');
export default {
  name: 'OrdersPage',
  components: { BaseButton, OrderTable, YourManager, BaseTitle },
  computed: {
    yourManager() {
      return store.currentOrder.manager;
    },
    totalPrice() {
      return store.totalPrice;
    },
  },
  methods: {
    classOrders,
  },
};
</script>

<style lang="scss">
.orders {
  position: relative;
  margin-top: 45px;
  margin-bottom: 45px;

  &__title {
    padding-top: 20px;
  }

  &__subtitle {
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
  }

  &__buttons {
    display: flex;
    grid-gap: 40px;
    justify-content: center;
    margin-top: 40px;
  }

  &__table-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  &__total {
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
  }

  @media (max-width: 768px) {
    &__buttons {
      grid-gap: 10px;
    }
  }

  @media (max-width: 600px) {
    &__buttons {
      flex-direction: column;
    }
  }

  @media (max-width: 425px) {
    &__buttons {
      flex-direction: column;
    }
  }
}
</style>
