<template>
  <div class="container">
    <BaseButtonClose :class="classPlan('close')" />
    <div :class="classPlan()">
      <BaseTitle size="sm" :center="true">ВЫБОР УДОБРЕНИЙ</BaseTitle>
      <div :class="classPlan('grid')">
        <SelectSeason v-for="i in 3" :key="i" @select="setCurrentOrder" />
      </div>
      <div :class="classPlan('grid', { type: 'double' })">
        <SelectSeason
          v-for="i in 2"
          :key="i"
          type="special"
          @select="setCurrentOrder"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { cn } from '../utils/cn';
import BaseTitle from '../components/base/BaseTitle.vue';
import BaseButtonClose from '../components/base/BaseButtonClose.vue';
import SelectSeason from '../components/SelectSeason.vue';
import { useStore } from '../stores/state.js';

const store = useStore();
const classPlan = cn('plan');

export default {
  name: 'PlanPage',
  components: { SelectSeason, BaseButtonClose, BaseTitle },
  methods: {
    classPlan,
    setCurrentOrder() {
      return store.setCurrentOrder('plants');
    },
  },
};
</script>

<style lang="scss">
.plan {
  &__close {
    margin-left: auto;
  }

  &__grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin: 75px 0;

    &_type {
      &_double {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media (max-width: 1440px) {
    &__grid {
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      margin: 75px 0;

      &_type {
        &_double {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__grid {
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      margin: 40px 0;
    }
  }
}
</style>
