<template>
  <div :class="classPlants()">
    <div class="container">
      <BaseButtonClose :class="classPlants('close')" />
      <div :class="classPlants('items')">
        <ProductCard v-for="plant in plants" :key="plant.id" :plant="plant" />
      </div>
    </div>
    <div v-if="isNotEmptyPlantCart" :class="classPlants('bottom-wrapper')">
      <div class="container">
        <div :class="classPlants('bottom')">
          <div :class="classPlants('selected-wrapper')">
            <div>ВЫБРАНО:</div>
            <div :class="classPlants('selected')">
              <SelectedPlant
                v-for="i in cartPlants"
                :key="i"
                @click="removePlant(i.product.plant_type_id, i.product.id, 0)"
              >
                {{ i.shortName }} {{ i.product.size }}
                <template #quantity> - {{ i.quantity }} шт.</template>
              </SelectedPlant>
            </div>
          </div>
          <BaseButton to="plan" :class="classPlants('button')"
            >Оформить заказ</BaseButton
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { cn } from '../utils/cn';
import BaseButtonClose from '../components/base/BaseButtonClose.vue';
import ProductCard from '../components/ProductCard.vue';
import BaseButton from '../components/base/BaseButton.vue';
import SelectedPlant from '../components/SelectedPlant.vue';
import { useStore } from '../stores/state.js';

const classPlants = cn('plants');
export default {
  name: 'PlantsView',
  components: { SelectedPlant, BaseButton, ProductCard, BaseButtonClose },
  setup() {
    return {
      store: useStore(),
    };
  },
  computed: {
    plants() {
      return this.store.plants;
    },
    cartPlants() {
      return this.store.getCartPlants;
    },
    isNotEmptyPlantCart() {
      return Object.keys(this.store.cart.plants).length !== 0;
    },
  },
  methods: {
    classPlants,
    removePlant(idPlant, idSizePlant, value) {
      this.store.changePlants(idPlant, idSizePlant, value);
    },
  },
};
</script>

<style lang="scss">
.plants {
  margin-top: 40px;

  &__close {
    margin-left: auto;
  }

  &__items {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px 0;
  }

  &__bottom-wrapper {
    background-color: #238f5b;
  }

  &__bottom {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(0, 1fr) auto;
    align-items: center;
    color: #fff;
    font-size: 18px;
  }

  &__selected-wrapper {
    display: flex;
    grid-gap: 10px;
    align-items: baseline;
    width: 100%;
    padding-top: 10px;
  }

  &__selected {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 30px;
    align-items: center;
    padding-bottom: 10px;
    overflow-y: auto;
  }

  &__button {
    border-radius: 0;
  }

  @media (max-width: 1320px) {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (max-width: 768px) {
    &__bottom {
      grid-template-columns: minmax(0, 1fr);
      font-size: 14px;
    }
  }
}
</style>
