<template>
  <router-link to="/" class="a-clear" :class="classClose()">
    <IconClose />
  </router-link>
</template>

<script>
import { cn } from '../../utils/cn';
import IconClose from '../IconClose.vue';

const classClose = cn('button-close');
export default {
  name: 'BaseButtonClose',
  components: { IconClose },
  methods: {
    classClose,
  },
};
</script>

<style lang="scss">
.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  color: #fff;
  text-decoration: none;
  background: #f3a327;
  border-radius: 50%;
  transition: background 0.3s;

  @media (hover: hover) {
    &:hover {
      background: darken(#f3a327, 10%);
    }
  }
}
</style>
