<template>
  <div :class="classTitle({ size: size, upper: upper, center: center })">
    <slot></slot>
  </div>
</template>

<script>
import { cn } from '../../utils/cn';

const classTitle = cn('title');

export default {
  name: 'BaseTitle',
  props: {
    size: {
      type: String,
      default: null,
    },
    upper: {
      type: Boolean,
      default: false,
    },
    center: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    classTitle,
  },
};
</script>

<style lang="scss">
.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 48px;

  &_size {
    &_sm {
      font-size: 32px;
    }

    &_lg {
      font-size: 56px;
    }
  }

  &_upper {
    text-transform: uppercase;
  }

  &_center {
    text-align: center;
  }

  @media (max-width: 768px) {
    font-size: 40px;

    &_size {
      &_sm {
        font-size: 28px;
      }
    }
  }

  @media (max-width: 425px) {
    font-size: 36px;
  }
}
</style>
