<template>
  <router-link
    v-if="to"
    :to="to"
    class="a-clear"
    :class="classButton({ type: type, size: size })"
  >
    <span><slot></slot></span>
  </router-link>
  <button v-else :class="classButton({ type: type, size: size })">
    <span><slot></slot></span>
  </button>
</template>

<script>
import { cn } from '@bem-react/classname';

const classButton = cn('base-button');
export default {
  name: 'BaseButton',
  props: {
    type: {
      type: String,
      default: 'primary',
    },
    size: {
      type: String,
      default: null,
    },
    to: {
      type: String,
      default: null,
    },
  },
  methods: {
    classButton,
  },
};
</script>

<style lang="scss">
.base-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 25px 45px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s, opacity 0.3s;

  &_type {
    &_primary {
      background-color: #ec9e26;
    }

    &_secondary {
      background: linear-gradient(45deg, #0aa058, #01582e);
      opacity: 1;
    }
  }

  &_size {
    &_sm {
      padding: 20px 45px;
      font-size: 14px;
    }
  }

  @media (hover: hover) {
    &_type {
      &_primary {
        &:hover {
          background-color: darken(#ec9e26, 5%);
        }
      }

      &_secondary {
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 20px 30px;
    font-size: 14px;
  }
}
</style>
