<template>
  <button :class="classButton({ type: type })">
    <slot></slot>
  </button>
</template>

<script>
import { cn } from '../utils/cn';

const classButton = cn('button-count');
export default {
  name: 'ButtonCount',
  props: {
    type: {
      type: String,
      default: 'arrow',
    },
  },
  methods: {
    classButton,
  },
};
</script>

<style lang="scss">
.button-count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 15px;
  font-weight: 700;
  font-size: 14px;
  font-family: inherit;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s, background 0.3s;

  &_type {
    &_circle {
      flex-shrink: 0;
      width: 52px;
      height: 52px;
      color: #fff;
      background: rgb(35 143 91 / 80%);

      @media (hover: hover) {
        &:hover {
          background: rgb(35 143 91 / 100%);
        }
      }
    }

    &_reset {
      width: 52px;
      height: 52px;
      color: #fff;
      background: #f3a327;

      @media (hover: hover) {
        &:hover {
          background: darken(#f3a327, 10%);
        }
      }
    }

    &_arrow {
      color: #01924d;

      @media (hover: hover) {
        &:hover {
          color: darken(#01924d, 10%);
        }
      }
    }
  }
}
</style>
