<template>
  <div :class="classBasket()">
    <div :class="classBasket('title-wrapper')">
      <div :class="classBasket('title')">Корзина</div>
    </div>
    <div :class="classBasket('products')">
      <div v-if="cartFertilizers.length > 0" :class="classBasket('inner')">
        <div
          v-for="(item, index) in cartFertilizers"
          :key="item.product.id"
          :class="classBasket('item')"
        >
          <div :class="classBasket('name')">
            {{ ++index }}. {{ item.product.name }}
          </div>
          <div :class="classBasket('count')">x{{ item.quantity }}</div>
          <div :class="classBasket('price')">
            {{ item.quantity * item.product.price }}р
          </div>
          <button
            :class="classBasket('remove')"
            @click="removeFertilizer(item.product.id)"
          >
            <IconClose :width="14" />
          </button>
        </div>
      </div>
      <div :class="classBasket('result')">
        <span>Итого: </span>
        <span>{{ totalPrice }}Р</span>
      </div>
    </div>
    <nuxt-link
      v-if="isNotEmptyCart"
      to="confirm"
      class="a-clear"
      :class="classBasket('order')"
      @click="setCurrentOrder"
      >Оформить заказ</nuxt-link
    >
  </div>
</template>

<script>
import { cn } from '../utils/cn';
import IconClose from './IconClose.vue';
import { useStore } from '../stores/state';

const store = useStore();

const classBasket = cn('fertilizer-basket');
export default {
  name: 'FertilizerBasket',
  components: { IconClose },
  computed: {
    cartFertilizers() {
      return store.getCartFertilizers;
    },
    totalPrice() {
      return store.totalPrice;
    },
    isNotEmptyCart() {
      return Object.keys(store.cart.fertilizers).length !== 0;
    },
  },
  methods: {
    classBasket,
    removeFertilizer(id) {
      this.$emit('select', id);
    },
    setCurrentOrder() {
      return store.setCurrentOrder('fertilizers');
    },
  },
};
</script>

<style lang="scss">
.fertilizer-basket {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  color: #fff;
  background-color: #238f5b;

  &__title-wrapper {
    padding: 30px 0;
  }

  &__title {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }

  &__products {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 500px;
    padding: 0 5px 20px 10px;
  }

  &__inner {
    display: grid;
    grid-gap: 15px;
    padding-right: 10px;
    padding-bottom: 80px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__result {
    margin-top: auto;
    padding-top: 20px;
    text-align: right;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 40px 80px 24px;
    align-items: flex-start;
    font-size: 14px;
  }

  &__count {
    padding-top: 3px;
    color: #d8d8d8;
    text-align: center;
  }

  &__price {
    font-size: 18px;
    text-align: right;
  }

  &__remove {
    margin-top: 3px;
    padding: 0;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__result {
    position: relative;

    &::before {
      position: absolute;
      right: 0;
      bottom: 100%;
      left: 0;
      height: 80px;
      background: linear-gradient(180deg, rgb(35 143 91 / 0%), #238f5b);
      content: '';
    }
  }

  &__order {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background: #ec9e26;
    border: 0;
    cursor: pointer;

    &:hover {
      background-color: darken(#ec9e26, 5%);
    }
  }

  @media (max-width: 1024px) {
    &__products {
      display: none;
    }

    &__title-wrapper {
      padding: 20px 0;
    }

    &__title {
      font-weight: 700;
      font-size: 16px;
    }
  }
}
</style>
