<template>
  <img :width="width" src="../assets/svg/close.svg" alt="" />
</template>

<script>
export default {
  name: 'IconClose',
  props: {
    width: {
      type: Number,
      default: 30,
    },
  },
};
</script>

<style scoped></style>
