<template>
  <a :href="href" class="a-clear" :class="classLink()"><slot></slot></a>
</template>

<script>
import { cn } from '../utils/cn';

const classLink = cn('link-anchor');
export default {
  name: 'LinkAncHor',
  props: {
    href: {
      type: String,
      default: null,
      require: true,
    },
  },
  methods: {
    classLink,
  },
};
</script>

<style lang="scss">
.link-anchor {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #c4c4c4;
  border-radius: 50%;
  transition: background-color 0.3s;

  @media (hover: hover) {
    &:hover {
      background-color: darken(#c4c4c4, 10%);
    }
  }
}
</style>
