<template>
  <table :class="classOrderTable()">
    <thead :class="classOrderTable('head')">
      <tr>
        <th :class="classOrderTable('col')">#</th>
        <th :class="classOrderTable('col')">Название</th>
        <th :class="classOrderTable('col')">Кол-во</th>
        <th :class="classOrderTable('col')">Цена</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in currentOrder" :key="item.product.id">
        <td :class="classOrderTable('col', { first: true })">{{ ++index }}</td>
        <td :class="classOrderTable('col')">{{ item.product.name }}</td>
        <td :class="classOrderTable('col')">{{ item.quantity }}</td>
        <td :class="classOrderTable('col')">
          {{ item.product.price * item.quantity }} р.
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td :class="classOrderTable('col')" colspan="3">Итого:</td>
        <td :class="classOrderTable('col')">{{ totalPrice }}р.</td>
      </tr>
    </tfoot>
  </table>
</template>

<script>
import { cn } from '../utils/cn';
import { useStore } from '../stores/state';

const store = useStore();
const classOrderTable = cn('order-table');
export default {
  name: 'OrderTable',
  computed: {
    totalPrice() {
      return store.totalPrice;
    },
    currentOrder() {
      return store.getCurrentOrder;
    },
  },
  methods: {
    classOrderTable,
  },
};
</script>

<style lang="scss">
.order-table {
  border-collapse: collapse;
  border-spacing: 0;

  &__head {
    background-color: #eee;
  }

  &__col {
    padding: 10px;
    border: 1px solid #ddd;

    &_first {
      font-weight: 700;
    }
  }

  @media (max-width: 425px) {
    font-size: 14px;

    &__table-col {
      padding: 6px;
    }
  }
}
</style>
