<template>
  <button :class="classPlant({ state: state })"><slot></slot></button>
</template>

<script>
import { cn } from '../utils/cn';

const classPlant = cn('plant-size');
export default {
  name: 'PlantSize',
  props: {
    state: {
      type: String,
      default: 'default',
    },
  },
  methods: {
    classPlant,
  },
};
</script>

<style lang="scss">
.plant-size {
  padding: 18px 15px;
  font-weight: 700;
  font-size: 14px;
  font-family: inherit;
  text-decoration: none;
  border: 0;
  border-radius: 50px;
  cursor: pointer;

  &_state {
    &_default {
      background-color: #fff;
    }

    &_active {
      color: #fff;
      background: linear-gradient(45deg, #0aa058, #01582e);
    }

    &_select {
      background: rgb(35 143 91 / 20%);
    }
  }
}
</style>
