<template>
  <div v-if="plant && store" :class="classProduct()">
    <div :class="classProduct('image-wrapper')">
      <img loading="lazy" width="291" height="458" :src="plant.image" alt="" />
    </div>
    <div :class="classProduct('info')">
      <div :class="classProduct('name')">
        {{ plant.name }}
      </div>
      <div :class="classProduct('sizes-wrapper')">
        <div :class="classProduct('sizes')">
          <div
            v-for="item of plant.plants"
            :key="item.id"
            :class="classProduct('size')"
            @click="currentSize(item.id)"
          >
            <PlantSize :state="currentState(item)">{{ item.size }}</PlantSize>
          </div>
        </div>
      </div>
      <div :class="classProduct('quantity-wrapper')">
        <SelectQuantity
          :class="classProduct('quantity')"
          :toggle="true"
          :model-value="currentQuantity"
          @update:model-value="addToCart"
        />
      </div>
    </div>
  </div>
</template>
<script>
import { cn } from '../utils/cn';
import SelectQuantity from './SelectQuantity.vue';
import PlantSize from './PlantSize.vue';
import { useStore } from '../stores/state';

const classProduct = cn('product-card');
export default {
  name: 'ProductCard',
  components: { PlantSize, SelectQuantity },
  props: {
    plant: {
      type: Object,
      default: null,
    },
  },
  setup() {
    return {
      store: useStore(),
    };
  },
  data() {
    return {
      currentSizePlant: this.plant.plants[0].id,
    };
  },
  computed: {
    currentQuantity() {
      return (
        (this.store.cart.plants[this.plant.id] &&
          this.store.cart.plants[this.plant.id][this.currentSizePlant]) ||
        0
      );
    },
  },
  methods: {
    classProduct,
    addToCart(count) {
      this.store.changePlants(this.plant.id, this.currentSizePlant, count);
    },
    currentSize(id) {
      this.currentSizePlant = id;
    },
    currentState(plant) {
      let state = 'default';
      if (this.store.cart.plants[plant.plant_type_id]) {
        if (this.store.cart.plants[plant.plant_type_id][plant.id]) {
          state = 'select';
        }
      }
      if (plant.id === this.currentSizePlant) {
        state = 'active';
      }
      return state;
    },
  },
};
</script>

<style lang="scss">
.product-card {
  display: grid;
  grid-template-columns: 286px minmax(0, 1fr);
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;

  &__image-wrapper {
    display: flex;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background-color: #f6f6f6;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding: 30px 45px;
  }

  &__name {
    color: #292a2c;
    font-weight: 900;
    font-size: 27px;
    text-transform: uppercase;
  }

  &__sizes-wrapper {
    flex-grow: 1;
  }

  &__sizes {
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
  }

  &__size {
    flex-shrink: 0;
  }

  @media (max-width: 1700px) {
    &__quantity {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-radius: 10px;

      .select-quantity__buttons {
        grid-column: 1/-1;
      }
    }
  }

  @media (max-width: 1320px) {
    grid-template-columns: 410px minmax(0, 1fr);

    &__sizes {
      flex-wrap: nowrap;
      padding-bottom: 14px;
      overflow-y: auto;
    }
  }

  @media (max-width: 768px) {
    &__info {
      padding: 20px;
    }

    &__name {
      font-weight: 700;
      font-size: 22px;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 286px minmax(0, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: minmax(0, 1fr);

    &__image-wrapper {
      display: none;
    }

    &__name {
      font-size: 18px;
    }
  }
}
</style>
