<template>
  <nuxt-link
    to="orders"
    :class="classManager()"
    class="a-clear"
    @click="$emit('select')"
  >
    <span :class="classManager('image-wrapper')">
      <img
        loading="lazy"
        :src="manager.image"
        width="220"
        height="220"
        alt=""
      />
    </span>
    <span :class="classManager('name')">{{ manager.name }}</span>
  </nuxt-link>
</template>

<script>
import { cn } from '../utils/cn';

const classManager = cn('manager');
export default {
  name: 'SalesManager',
  props: {
    manager: {
      type: Object,
      default: null,
    },
  },
  methods: {
    classManager,
  },
};
</script>

<style lang="scss">
.manager {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;

  @media (hover: hover) {
    &:hover {
      box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
    }
  }

  &__image-wrapper {
    display: flex;
    max-width: 480px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background-color: #eee;
    }
  }

  &__name {
    margin-top: 10px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
  }
}
</style>
