<template>
  <div :class="classSelectedPlant()">
    <div :class="classSelectedPlant('name')"><slot></slot></div>
    <div :class="classSelectedPlant('count')">
      <slot name="quantity"></slot>
    </div>
    <button :class="classSelectedPlant('remove')">
      <img src="../assets/svg/close-green.svg" alt="" />
    </button>
  </div>
</template>

<script>
import { cn } from '../utils/cn';

const classSelectedPlant = cn('selected-plant');
export default {
  name: 'SelectedPlant',
  methods: {
    classSelectedPlant,
  },
};
</script>

<style lang="scss">
.selected-plant {
  display: inline-flex;
  flex-shrink: 0;
  grid-gap: 7px;
  align-items: center;
  text-transform: uppercase;

  &__name {
    flex-shrink: 0;
    font-weight: 700;
  }

  &__count {
    flex-shrink: 0;
  }

  &__remove {
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s;

    @media (hover: hover) {
      &:hover {
        background-color: darken(#fff, 10%);
      }
    }
  }
}
</style>
