<template>
  <div :class="classQuantity({ toggle: toggle })">
    <div :class="classQuantity('title')">Выберите количество:</div>
    <div :class="classQuantity('count-wrapper')">
      <div :class="classQuantity('count')">
        <ButtonCount
          :class="
            classQuantity('btn', { type: count === 0 ? 'disabled' : null })
          "
          @click="decreaseCount(1)"
        >
          &lt;
        </ButtonCount>
        <input v-model="count" :class="classQuantity('input')" readonly />
        <ButtonCount @click="increaseCount(1)">&gt;</ButtonCount>
      </div>
    </div>
    <div :class="classQuantity('buttons')">
      <ButtonCount type="circle" @click="increaseCount(5)">+5</ButtonCount>
      <ButtonCount type="circle" @click="increaseCount(10)">+10</ButtonCount>
      <ButtonCount
        :class="classQuantity('reset')"
        type="reset"
        @click="resetCount"
      >
        <IconClose />
      </ButtonCount>
    </div>
  </div>
</template>

<script>
import { cn } from '../utils/cn';
import ButtonCount from './ButtonCount.vue';
import IconClose from './IconClose.vue';

const classQuantity = cn('select-quantity');
export default {
  name: 'SelectQuantity',
  components: { IconClose, ButtonCount },
  props: {
    toggle: {
      type: Boolean,
      default: false,
    },
    modelValue: {
      type: Number,
      default: 0,
    },
  },
  emits: ['update:modelValue'],
  data() {
    return {
      count: this.modelValue,
    };
  },
  watch: {
    count() {
      this.$emit('update:modelValue', this.count);
    },
    modelValue() {
      this.count = this.modelValue;
    },
  },
  methods: {
    classQuantity,
    decreaseCount(value) {
      if (this.count > 0) {
        this.count -= value;
      }
    },
    increaseCount(value) {
      this.count += value;
    },
    resetCount() {
      this.count = 0;
    },
  },
};
</script>

<style lang="scss">
.select-quantity {
  --wrapper-bg-color: #f3f3f3;
  --count-bg-color: #fff;

  display: inline-flex;
  grid-gap: 10px;
  align-items: center;
  padding: 10px 10px 10px 16px;
  background-color: var(--wrapper-bg-color);
  border-radius: 50px;

  &__title {
    max-width: 80px;
    font-weight: 300;
    font-size: 14px;
  }

  &__count-wrapper {
    text-align: right;
  }

  &__count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--count-bg-color);
    border-radius: 50px;
  }

  &_toggle {
    --wrapper-bg-color: #fff;
    --count-bg-color: #f3f3f3;
  }

  &__buttons {
    display: inline-flex;
    grid-gap: 10px;
    align-items: center;
  }

  &__btn {
    &_type {
      &_disabled {
        color: #000;

        &:hover {
          color: #000;
        }
      }
    }
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 50px;
    height: 100%;
    color: #292a2c;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
  }

  &__reset {
    margin-left: 30px;
  }
}
</style>
