<template>
  <div :class="classSeason({ type: type })">
    <div :class="classSeason('image-wrapper')">
      <img
        loading="lazy"
        width="294"
        height="283"
        src="../assets/images/autumn.jpg"
        alt=""
      />
    </div>
    <div :class="classSeason('info')">
      <div :class="classSeason('name')">ОСЕНЬ + AUTUMN</div>
      <div :class="classSeason('prices')">
        <div :class="classSeason('price')">10926 руб</div>
        <div v-if="type" :class="classSeason('benefit-wrapper')">
          <div>Выгода:</div>
          <div :class="classSeason('benefit')">716 руб</div>
        </div>
      </div>
      <div :class="classSeason('button-wrapper')">
        <BaseButton to="confirm" size="sm" @click="$emit('select')"
          >Заказать</BaseButton
        >
      </div>
    </div>
  </div>
</template>

<script>
import { cn } from '../utils/cn';
import BaseButton from './base/BaseButton.vue';

const classSeason = cn('season');
export default {
  name: 'SelectSeason',
  components: { BaseButton },
  props: {
    type: {
      type: String,
      default: null,
    },
  },
  methods: {
    classSeason,
  },
};
</script>

<style lang="scss">
.season {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  background: #f3f3f3;
  border-radius: 10px;

  &__image-wrapper {
    display: flex;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background-color: #fefefe;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    justify-content: space-between;
    padding: 40px 50px;
  }

  &__name {
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
  }

  &__prices {
    display: flex;
    grid-gap: 50px;
  }

  &__price {
    font-size: 35px;
  }

  &__benefit-wrapper {
    font-size: 20px;
    text-align: left;
  }

  &__benefit {
    font-size: 30px;
  }

  &_type {
    &_special {
      position: relative;
      padding: 40px;
      overflow: inherit;

      .season__info {
        padding: 0 40px;
      }

      &::after {
        position: absolute;
        top: -12px;
        right: -12px;
        width: 141px;
        height: 141px;
        background: url(../assets/images/special.png) 100% 0;
        content: '';
      }
    }
  }

  @media (max-width: 1024px) {
    &__info {
      padding: 25px;
    }

    &__name {
      font-size: 28px;
    }

    &__price {
      font-size: 20px;
    }
  }

  @media (max-width: 768px) {
    &_type {
      &_special {
        padding: 20px;

        .season__info {
          padding: 0 40px 0 20px;
        }
      }
    }

    &__prices {
      flex-direction: column;
    }
  }

  @media (max-width: 500px) {
    &__info {
      padding: 12px;
    }

    &__name {
      font-size: 22px;
    }
  }
}
</style>
