<template>
  <nuxt-link to="managers" :class="classYourManager()" class="a-clear">
    <span :class="classYourManager('image-wrapper')">
      <img width="23" height="29" src="../assets/images/user.svg" alt="" />
    </span>
    <span :class="classYourManager('name')">
      <slot></slot>
    </span>
  </nuxt-link>
</template>

<script>
import { cn } from '../utils/cn';

const classYourManager = cn('your-manager');
export default {
  name: 'YourManager',
  methods: {
    classYourManager,
  },
};
</script>

<style lang="scss">
.your-manager {
  display: inline-flex;
  grid-gap: 10px;
  align-items: center;
  color: #555;
  cursor: pointer;
  transition: color 0.3s;

  @media (hover: hover) {
    &:hover {
      color: #000;
    }
  }

  &__image-wrapper {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 61px;
    height: 61px;
    background-color: #c4c4c4;
    border-radius: 100%;
  }

  &__name {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }
}
</style>
